<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<style>
    
    body{
        background-color: bisque;
    }
    
    </style> 
    
    
</head>
<body>
    <h1>Templates</h1>
<p>
    <ul>
        <li><a href="2col-fluid-centered.html"> 2 Col. Fluid Centered</a></li>
        <li><a href="2col-fluid-fullheader.html"> 2 Col. Fluid Fullheader</a></li>
        <li><a href="2col-fluid.html"> 2 Col. Fluid</a></li>
        <li><a href="3col-fluid.html"> 3 Col. Fluid</a></li>
        <li><a href="flip%20card/flipcard.html">Flip Cards.</a></li>
        <li><a href="form.html"> Form example</a></li>
        <li><a href="tables.html">Table Example</a>
        </li>
     </ul>

</p>

</body>
    <footer>
    <a href="../index.html"> Back to Portfolio.</a>
    </footer>
</html>