.datagrid table { 
    border-collapse: collapse;
    text-align: left;
    width: 100%; 
    } 
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 5px solid #006699; 
    border-radius: 15px;
    
    }
.datagrid table td, .datagrid table th {
    padding: 10px 10px;
    border: solid 1px;
    }
.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(0.7, #800000) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    background-color:#ff6347;
    color:#FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border: solid 1px;
    } 
.datagrid table thead th:first-child {
    border: solid 1px; 
    }
.datagrid table tbody td {
    color: #800080;
    font-size: 18px;
    font-weight: normal; 
    background: #d3d3d3;
    }
.datagrid table tbody .alt td {
    background-image: linear-gradient(to bottom, #e9967a, #d2691e);
    color: #800080;
    }
.datagrid table tbody td:first-child {
    
    border-left: none;
    }
.datagrid table tbody tr:last-child td { 
    border-bottom: none;
    }
body{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #808080), color-stop(100%, #ffffff));
    }
footer{
    margin-right: 19.3em;
    padding: 10px;
    float: right;
    border: dashed 1px #0000ff;
}